@use "./partials/mixins";

* {
  font-family: "IBM Plex Mono", monospace;
}

header {
  @include mixins.content-center;
  height: 15rem;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

textarea {
  @include mixins.input-output-box;
}

#translate-btn {
  @include mixins.content-center;
  height: 220px;
  width: 100px;
}

.to-translate {
  font-size: 3rem;
}

#translatedOutput{
  @include mixins.input-output-box;
}
